---
---

.cmu-profile-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .cmu-profile-container {
    flex-wrap: wrap; 
  }
}
.cmu-profile-left{
  margin-top: 50px;
  place-items: center;
  .cmu-profile-name-title{
    display: grid;
    place-items: center;
    }
  .cmu-profile-social{
    display:flex;
    justify-content: between;
    gap: 10px;
  }
  }  

.cmu-profile-right{
  margin-left: 20px;
}


