
{% assign emptyarray = "" | split: "," %}
{% assign data = site.data[include.data] | default: emptyarray %}

{%- assign statuses = data | group_by: "status" -%}

{% for status in statuses %}
  <h3>{{ status.name | capitalize }}</h3>
  <hr/>

  {% assign members = status.items %}
  {% for member in members %}
    {% assign style = member.style | default: include.style %}

    {%
      include {{ include.component | append: ".html" }}
      name=member.name
      title=member.title
      image=member.image
      status=member.status
      role=member.role
      style=style
      site=member.site
    %}
  {% endfor %}
{% endfor %}