
 <div class="container">
        <!-- Hero Section -->
        <div class="research-funding-sponsor">
            <h2 class="icon_title">
                {% include icon.html icon="/images/icons/icon_sponsor.png" %}
                Research Funding Sponsors
            </h2>
            <a href="https://www.nrf.re.kr/" target="_blank" rel="noopener">
            <img src="{{ '/images/sponsors/nrf.png' | relative_url }}" alt="NRF Logo" loading="lazy" />
            </a>

            <a href="https://www.nipa.kr/" target="_blank" rel="noopener">
            <img src="{{ '/images/sponsors/nipa.png' | relative_url }}" alt="NIPA Logo" loading="lazy" />
            </a>

            <a href="https://info.korea.edu/en_info/index.do" target="_blank" rel="noopener">
            <img src="{{ '/images/sponsors/ku_informatics.png' | relative_url }}" alt="KUIFM Logo" loading="lazy" />
            </a>

        </div>
        
        <div class="projects-hero">
            <h2 class="icon_title">
                {% include icon.html icon="/images/icons/project_icon.png" %}
                Our Research Projects
            </h2>
            <ul class="projects-description">
            <li>We are very honored and appreciate the funding from NRF and NIPA</li>
            <li>Cutting-edge projects funded by NRF and NIPA, driving innovation in technology and research.</li>
            </ul>
        </div>

        <div class="funding-section">
            <div class="container">
                <div class="funding-content">
                    <h2 class="icon_title" >                
                        {% include icon.html icon="/images/icons/funding_support_icon.png" %}
                        Funding & Support
                    </h2>
                    <ul class="funding-list">
                        <li class="icon_title">{% include icon.html icon="/images/icons/tip_icon.png" %}<strong>3-Year Financial Support:</strong> </li>
                        <li>0.7 billion KRW per year, total 2.1 billion KRW</li>
                        <li class="icon_title">{% include icon.html icon="/images/icons/server_icon.png" %} <strong>High Quality Resources:</strong></li>
                        <li> Access to 4 NViDIA H200 GPUs to conduct research</li>
                        <li class="icon_title">{% include icon.html icon="/images/icons/world_icon.png" %}<strong>Friendly Environment:</strong> </li>
                        <li>
                        <p><strong>Freedom</strong> to focus on research quality and innovation.</p>
                        <p><strong>Supported</strong> with advanced equipment by KU Informatics.</p>
                        <p><strong>Collaborative</strong> atmosphere fostering creativity and excellence.</p>
                        <p><strong>Young and Passionate Professor</strong> leading the team.</p>
                        <p><strong>Friendly</strong> and collaborative lab environment.</p>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>